*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #cee0e0;
}

.container{
    background-color: white;
    padding: 20px;
    border-radius: 1rem;
    width: 45vw;
}

form{
    margin: 2rem 0 2rem 0;
}

form select, input, button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 2px;
}

form input{
    border: 1px solid lightgrey;
    font-size: 16px;
    height: 48px;
    padding: 10px;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 19px 0 19px 0;
}

.dropdown i{
    font-size: 35px;
    margin-top: 16px;
}

.select-container img{
    max-width: 32px;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.select-container select{
    font-size: 14px;
}

#exchange{
    cursor: pointer;
}

#conversion{
    font-size: 20px;
}

.msg{
    margin: 2rem 0 2rem 0;
}

form button{
    height: 3rem;
    background: #cee0e0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
